.display {
  display: none;
  /* gap: 125px; */
}

/* .image-display {
  display: flex;
  gap: 225px;
} */
@media (max-width: 480px) {
  .display {
    display: grid;
    gap: 2px;
  }
  .image-display {
    display: flex;
    margin-left: 30px;
    gap: 85px;
  }
}
@media screen and (min-width: 481px) and (max-width: 900px) {
  .display {
    display: grid;
    gap: 2px;
  }
  .image-display {
    display: flex;
    margin-left: 50px;
    gap: 152px;
  }
}
