@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@500&display=swap");
:root {
  --font-family: "Manrope", sans-serif;
  --bg: #34ed72;
  --text-color: #344054;
}

a {
  color: unset;
  text-decoration: none;
}
